* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
#box{
    height: 350px;
    width: 300px;
    background-color: rgb(34, 22, 5);
    border-radius: 5px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;

}
button{
    padding: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: red;
    cursor: pointer;
}
button:active{
    scale: 0.95;
}
h1{
    background-color: aqua;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-size: 35px;
    font-weight: 600;
}
h2{
    font-size: 18px;
    font-weight: 600;
}